<section class="center">

	<main class="main" [style.background]="backgroundColor">
		<velt-recorder-notes shadow-dom="false"></velt-recorder-notes>

		<div class="header"></div>
		<div class="content">
			<div class="toolbar">
				<velt-recorder-tool [attr.type]="recordingType" shadow-dom="false"></velt-recorder-tool>
				<p>Click to start recording</p>
				<velt-recorder-control-panel mode="thread" shadow-dom="false"></velt-recorder-control-panel>
			</div>

			<div class="video-player" *ngIf="RECORDER_ID">
				<velt-recorder-player [recorderId]="RECORDER_ID" shadow-dom="false"></velt-recorder-player>
			</div>

		</div>
	</main>
	<router-outlet></router-outlet>
</section>