section {
	height: calc(100dvh);
	//background-color: transparent;

	main {
		display: flex;
		flex-direction: column;

		background-color: rgba(255, 255, 255, 0.06);
		min-width: 320px;
		width: 100%;
		max-width: 1200px;
		min-height: 520px;
		border-radius: 12px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		overflow: hidden;

		.header {
			display: block;
			width: 100%;
			background-color: rgba(255, 255, 255, 0.06);
			height: 32px;
		}

		.content {
			padding-top: 2.5rem;
			padding-bottom: 1.5rem;
			flex: 1 1 auto;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.toolbar {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 1.75rem;

				p {
					color: rgba(255, 255, 255, 0.32);
					font-size: 14px;
					letter-spacing: 0.1em;
					text-transform: uppercase;
				}
			}

			.video-player {
				margin-top: 12px;
			}
		}
	}
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}