* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif, Arial, Helvetica;
}

body,
html {
	//background-color: transparent;
}

.velt-recorder-all-tool,
.velt-recorder-audio-tool,
.velt-recorder-video-tool,
.velt-recorder-screen-tool {
	background-color: transparent !important;
	border: 1px solid rgba(255, 255, 255, 0.15) !important;
	border-radius: 8px !important;

	svg {

		path,
		circle {
			color: #fff;
		}
	}
}

.velt-recorder-control-panel-thread {
	border-radius: 32px;
}

snippyly-recorder-control-panel-internal {
	padding: 0 !important;
}

.velt-recording-preview-dialog-timer {
	transform: scale(0.8) translateY(-5%);
}

.velt-recorder-audio-tool,
.velt-recorder-video-tool,
.velt-recorder-screen-tool,
.velt-recorder-all-tool {
	transform: scale(1.3);
	margin-top: 1rem;
}

app-recorder-control-panel-action-bar-waveform {
	min-width: 40px;
	flex: 1;
	display: flex;
	overflow: hidden;
	justify-content: flex-end;
}

.mini-audio-container.thread-mode {
	width: auto !important;
}

.velt-recorder-player-audio--top {
	padding: 0.75rem !important;
}

.velt-recorder-control-panel-loading--thread-mode {
	padding: 1rem !important;
	padding: 1.25rem !important;
	background-color: light-dark(white, #1A1A1A) !important;
}

app-recorder-control-panel-thread-mode {
	padding-top: 8px !important
}

.velt-recorder-control-panel-action-bar--thread-mode {
	gap: 0.25rem !important;
	background-color: light-dark(white, #1A1A1A) !important;
	border-radius: 4rem;
}

.velt-recorder-control-panel-action-bar--left-part,
.velt-recorder-control-panel-action-bar--right-part,
app-recorder-control-panel-action-bar-waveform {
	margin-top: 12px;
}

.screen,
.cdk-overlay-container {

	.velt-recorder-control-panel-action-bar--left-part,
	.velt-recorder-control-panel-action-bar--right-part,
	app-recorder-control-panel-action-bar-waveform {
		margin-top: 0px !important;
	}
}

.velt-recording-preview--bottom-panel {
	display: none !important;
}

.velt-recording-preview--icon-button {
	background-color: light-dark(white, #1A1A1A) !important;
	border: 1px solid light-dark(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15)) !important;

	& svg {
		path {
			stroke: light-dark(black, white) !important;
		}
	}
}

.velt-recorder-control-panel-loading--text {
	color: light-dark(black, white) !important;
}

.velt-recorder-control-panel-loading--loader-bar {
	border-top-color: light-dark(#9491F8, #625DF5) !important;
	border-bottom-color: light-dark(#e2e2e2, #393939) !important;
	border-right-color: light-dark(#e2e2e2, #393939) !important;
	border-left-color: light-dark(#e2e2e2, #393939) !important;
}

.velt-recorder-player-audio--top{
	padding: 1rem !important;
}